* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #303030;
}

.alt-banner-pro {
    background: url('../../images/content/alt-banner.png');
}

.alt-banner-light {
    background: url('../../images/content/alt-banner.png');
}

.alt-banner {
    height: 300px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}