* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #303030;
}

.alt-banner-briefing {
    height: 300px;
    width: 100%;
    margin-top: 50px;
    background: url('../../images/content/briefing-banner.png');
    background-size: contain;
    background-repeat: no-repeat;
}